Accessing DataFrame using Index and slicing

In [2]:
import pandas as pd
df = pd.read_csv('c:/users/rakesh/Desktop/Notes/PandasCode/student.csv')
print(df)

     name  english  math  cs  physics  chemistry
0  rakesh       45    87  56       56         78
1    amit       56    89  56       67         87
2      jm       45    45  89       67         66
3   vikas       34    67  89       78         67
4      rk       67    89  67       67         45
5   dhruv       78    67  90       56         56

In [11]:
#print(df[1]) #since dataframe contains rows and columns

#if you want to retrive the record of only one row then use   iloc() method

df.iloc[1]

name         amit
english        56
math           89
cs             56
physics        67
chemistry      87
Name: 1, dtype: object

In [ ]:
print(df[1:5:2])

In [ ]:
print(df['name'])

In [ ]:
print(df[['name','english']])  # only list of column name is allowed

using loc() and iloc() methods

In [ ]:
# loc() method is used to extract rows and columns based on the labels of DataFrame
# iloc() method is used to extract rows and columns based on the index of DataFrame

In [5]:
#df.iloc[rows,[comma seperated column index number]]
df.iloc[:,[1,3,5]]   # iloc() is used to fetch rows or columns using their index values
                       # rows are defined in the form of slicing but columns are defined in the form 
                       # list of index numbers

   english  cs  chemistry
0       45  56         78
1       56  56         87
2       45  89         66
3       34  89         67
4       67  67         45
5       78  90         56

In [7]:
df.iloc[:,[1,2,3,4,5]]

   english  math  cs  physics  chemistry
0       45    87  56       56         78
1       56    89  56       67         87
2       45    45  89       67         66
3       34    67  89       78         67
4       67    89  67       67         45
5       78    67  90       56         56

In [9]:
df.iloc[1:5,] #since column index are missing so taking all the columns

    name  english  math  cs  physics  chemistry
1   amit       56    89  56       67         87
2     jm       45    45  89       67         66
3  vikas       34    67  89       78         67
4     rk       67    89  67       67         45

Change index from numbers to labels using set_index()

In [12]:
df.set_index('name',inplace=True)
df

        english  math  cs  physics  chemistry
name
rakesh       45    87  56       56         78
amit         56    89  56       67         87
jm           45    45  89       67         66
vikas        34    67  89       78         67
rk           67    89  67       67         45
dhruv        78    67  90       56         56

In [14]:
df.iloc[1:4,[1,2,3,4]]  #still system is using the default number index

       math  cs  physics  chemistry
name
amit     89  56       67         87
jm       45  89       67         66
vikas    67  89       78         67

In [15]:
df.loc['amit':'rk',['math','cs','physics']]

KeyError: "['maths'] not in index"