Accessing DataFrame using Index and slicing

In [6]:
import pandas as pd
df = pd.read_csv('/home/lab/Desktop/Notes/PandasCode/student.csv')
df

     name  english  math  cs  physics  chemistry
0  rakesh       45    87  56       56         78
1    amit       56    89  56       67         87
2      jm       45    45  89       67         66
3   vikas       34    67  89       78         67
4      rk       67    89  67       67         45
5   dhruv       78    67  90       56         56

In [5]:
#print(df[1]) #since dataframe contains rows and columns

#if you want to retrive the record of only one row then use   iloc() method

df.iloc[1]

name         amit
english        56
math           89
cs             56
physics        67
chemistry      87
Name: 1, dtype: object

In [7]:
print(df[1:5:2])

    name  english  math  cs  physics  chemistry
1   amit       56    89  56       67         87
3  vikas       34    67  89       78         67

In [8]:
print(df['name'])

0    rakesh
1      amit
2        jm
3     vikas
4        rk
5     dhruv
Name: name, dtype: object

In [9]:
print(df[['name','english']])  # only list of column name is allowed

     name  english
0  rakesh       45
1    amit       56
2      jm       45
3   vikas       34
4      rk       67
5   dhruv       78

In [ ]:
df

changing DataFrame's Index

In [ ]:
#changing dataFrame's index
df.set_index('name',inplace=True)
df

Resetting original INdex

In [ ]:
#reseting original index of the dataframe
df.reset_index(inplace=True)
df

Change the name of any column

In [ ]:
#changing all the column names of a DataFrame
df.columns=['Name','Eng','Maths','CompSc','Phy','Chem']
df

In [ ]:
# Below are some quick examples.
# Syntax to change column name using rename() function.
df.rename(columns={"Eng": "English core"})

In [ ]:
# Using rename() function.
df.rename(columns={'English Core': 'Eng','Maths':'Mathematics'})

In [ ]:
# Using rename() function.
df.rename(columns={'CompSc': 'Computer'}, inplace=True) 
 #inplace does not display results so we have to display it manually
df

In [ ]:
# Renaming Multiple columns.  --silently
df.rename({'Name': 'student name', 'Computer': 'IP',
          'Phy': 'Physics'}, axis="columns", inplace=True)
df

In [ ]:
df.columns.values[0]='course'   # change column name silently and does not display it directly
df

Adding a New column in any existing DataFrame

In [ ]:
df['music']=[34,45,56,78,78,89]   #add a new column with given values
df

In [ ]:
df['music'] =100     #replace the values of existing column if column already exists
df

In [ ]:
df['total']=df['Eng']+df['Maths']+df['IP']+df['Physics']+df['Chem']+df['music']
df