Python Series

In [ ]:
import pandas as pd
s1 = pd.Series()
print(s1)

In [3]:
s2= pd.Series([10,20,30,40,50,60])
print(s2)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [4]:
s3= pd.Series([10,20,30,40,50,60],index=[2,3,4,5,6,7])
print(s3)

2    10
3    20
4    30
5    40
6    50
7    60
dtype: int64

In [5]:
s4= pd.Series([10,20,30,40,50],index=['rakesh','anuj','suresh','mohit','ramesh'])
print(s4)

rakesh    10
anuj      20
suresh    30
mohit     40
ramesh    50
dtype: int64

In [6]:
s5 = pd.Series([10, 20, 30, 40, 50], index=range(5,10))  #using python range function
print(s5)

5    10
6    20
7    30
8    40
9    50
dtype: int64

In [7]:
s6=pd.Series('rakesh is great'.split())
print(s6)

0    rakesh
1        is
2     great
dtype: object

In [8]:
s7=pd.Series((10,20,30,40,50,6))
print(s7)

0    10
1    20
2    30
3    40
4    50
5     6
dtype: int64

In [9]:
s7=pd.Series((10,20,30,40,50,6),index=[10,3,7,36,44,55])
print(s7)

10    10
3     20
7     30
36    40
44    50
55     6
dtype: int64

In [10]:
data ={'admno':1024,'name':'rakesh','ip':45,'eco':67,'bs':567}
s8=pd.Series(data)
print(s8)

admno      1024
name     rakesh
ip           45
eco          67
bs          567
dtype: object

In [12]:
s9 =pd.Series(5,index=range(10))  #series using scalar values
print(s9)

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
8    5
9    5
dtype: int64