Pandas Series Object

In [ ]:
import pandas as pd
import numpy as np
s1 = pd.Series([10, 20, 340, 560, 670.75, 243, 23, 56])
print(s1)

In [ ]:
print(s1.index)

In [ ]:
print(s1.index.name)
s1.index.name ='mukul rai'
print(s1.index.name)

In [ ]:
print(s1.values)

In [7]:
print(s1.dtype)

float64

In [8]:
print(s1.shape)

(8,)

In [9]:
print(s1.nbytes)

64

In [10]:
print(s1.ndim)

1

In [11]:
print(s1.size)

8

In [12]:
print(s1.hasnans)
s2 = pd.Series([20,340,23,45,56,np.NaN,45,67])
print(s2.hasnans)

False
True

In [13]:
print(s1.empty)
s3=pd.Series()
print(s3.empty)

False
True

/tmp/ipykernel_9944/3358698833.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s3=pd.Series()

In [14]:
print(s1.name)
s1.name='rakesh kumar'
print(s1.name)

None
rakesh kumar